/* Turn off background gradients for IE 9 because they
protrude over the edges of rounded corners

Отключить фоновые градиенты для IE 9, так как они
выступают за края закругленных углов
*/

.tabs a,
.tabs a.current,
.toolbar-banner,
.toolbar-compact,
.nav-icon-H,
.nav-pane,
.nav-box {
	filter: none;
	-ms-filter: none;
}

.tabs a {
	background-image: url(../image/gradient_taboff.svg);
	background-size: 100% 100%;
	background-repeat: repeat-x;
	background-position: 0 0;
}

.toolbar-banner,
.toolbar-compact,
.tabs a.current,
.tabs-c-tab {
	background-image: url(../image/gradient_toolbar.svg);
	background-size: 100% 100%;
	background-repeat: repeat-x;
	background-position: 0 0;
}

.nav-box {
	background-image: url(../image/gradient_navborder.svg);
	background-size: 100% 100%;
	background-repeat: repeat-x;
	background-position: 0 0;
}
.nav-pane {
	background-image: url(../image/gradient_navpane.svg);
	background-size: 100% 100%;
	background-repeat: repeat-x;
	background-position: 0 0;
}