/* 'General Background */
/*
(i) Символ «*» - универсальный селектор, совпадает с именем любого типа элемента. Соответствует любому отдельному элементу в дереве док.
*Унивесальный селектор имеет нулевой приоритет (ниже только отсутствие приоритета вовсе).
*/
* {margin: 0; padding: 0;} /* - перебить CSS свойства, которые браузеры устанавливают по умолчанию для некоторых тегов, например, тегу гиперссылки <a> синий цвет текста и подчёркивание, тегу body они задают поля (padding) и тд.и т.п. */
/*
(i) считается хорошей практикой, но в моем случае придется много чего переписывать
*/
/* html {box-sizing: border-box;} */
/*
// *, *:after, *:before {box-sizing: inherit;}
*/
body, html {
	background-color: #fff;
	text-indent: 1.5em; /* - отступ первой строки */
	overflow: hidden;
}
/* (!) Scrollbars */
*,
html * /* - если нужен общий стиль, его следует применять к тегу html, а не к body */
{
	scrollbar-width: thin;
	scrollbar-color: gray #3f3f3f;
	scroll-behavior: smooth; /* плавная прокрутка */
}
*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	/* top: 0; *//* bottom: 0; *//* 'работать не будет-для всех браузеров высота scrollbara = высоте его элемента */
	width: 10px;
	height: 10px;
}
/**Варианты по умолчанию для элементов на странице */
/* 'вариант-1 */
/* *::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: #3f3f3f;
	border-radius: 100px;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background-color: silver;
	border: 1px solid #3f3f3f;
	border-radius: 100px;
} */
/* 'вариант-2 */
/* *::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	border: 1px solid #3f3f3f;
	border-radius: 100px;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	border: 5px solid #3f3f3f;
	border-radius: 100px;
} */
/* 'вариант-3 */
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: #3f3f3f;
	border: 4px solid #fff;
	border-radius: 100px;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	border: 4px solid #3f3f3f;
	border-radius: 100px;
}
/* 'вариант-4 */
/* *::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	border: 4px solid #3f3f3f;
	border-radius: 100px;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background: #3f3f3f;
	border: 4px solid #fff;
	border-radius: 100px;
} */
.topic-title-scrolling::-webkit-scrollbar {width: 2px;}
.topic-title-scrolling::-webkit-scrollbar-track {
	border: 1px solid gray;
	border-radius: 10px;
}
.topic-title-scrolling::-webkit-scrollbar-thumb {
	background-color: gray;
	/* border: 2px solid #3f3f3f; */
	border: 4px solid maroon;
	border-radius: 10px;
}
/* Scrollbars the end */
/**отражаем противоположно самый верхний div, чтобы scrollbar был слевой стороны */
.reflect {
	direction: rtl; /* ? влияет на кавычки елочки для текстовых элементов, поэтому данное св-во необходимо так же применить к элементам типа "р"/span.., чтобы вернуть обратно направление чтения по умолчанию (с лева на право). Применяется непосредственно к текущему элементу, применение к псевдоэлементу работать не будет. */
}
/* a, p, span, img, */
.reflect * {
	direction: ltr; /* ? влияет на кавычки елочки для текстовых элементов, поэтому данное св-во необходимо так же применить к элементам типа "р"/span.., чтобы вернуть обратно направление чтения по умолчанию (с лева на право). Применяется непосредственно к текущему элементу, применение к псевдоэлементу работать не будет. */
}
/* (i).topic-box-имя класса так же присутствует в стилях styles.css, но правила разные */
.topic-box {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	overflow: hidden;
}
.topic-header {
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	flex: 1 1 auto;
	flex-flow: column nowrap;
	/* align-items: flex-start; */ /* X */
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid silver;
	overflow: hidden;
	z-index: 100;
}
.topic-header {
	background: -webkit-linear-gradient(bottom, rgba(0,0,0, 0.86) 85%,rgba(255,255,255));
	background: -moz-linear-gradient(bottom, rgba(0,0,0, 0.86) 85%,rgba(255,255,255));
	background: -o-linear-gradient(bottom, rgba(0,0,0, 0.86) 85%,rgba(255,255,255));
	background: -ms-linear-gradient(bottom, rgba(0,0,0, 0.86) 85%,rgba(255,255,255));
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #ffffff, endColorstr = #000000);
	-ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #ffffff, endColorstr = #000000);
}
.topic-header:hover {cursor: default;}

/* .header-content {
	position: relative;
	width: auto;
	height: auto; */
	/* margin: 0 60px 0 1px; */ /* X */
	/* margin: 0 1px;
	display: flex;
	flex: 1 1 auto;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: space-between;
	color: #737373;
} */
.header-content {
	position: relative;
	width: 100%;
	height: auto;
	margin: 6px 1px 1px 1px;
	display: flex;
	flex: 1 1 auto;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}
.header-content a, /* - чтобы перебить ссылкам назначенный браузером стиль по умолчанию */
.header-content {color: #737373;}
/* (!) Breadcrumb trail-навигационные ссылки
- След из хлебных крошек */
/* вариант 1 */
/* .nav-links {
	position: relative; */
	/* max-width: 88%; *//* X */
	/* width: auto;
	height: auto;
	margin: 6px 1px 1px 1px; */
	/* padding: 0 0 1px 2px; *//* X */
	/* display: flex;
	flex: 1 1 auto;
	font-family: Verdana, Tahoma, Helvetica, sans-serif; */
	/* font-size: 10px; *//* X */
	/* font-size: 0.6em;
	text-indent: 0.5em;
	overflow: hidden;
} */
/* вариант 2 */
/* .nav-links {
	order: 1;
	position: relative;
	width: auto;
	height: auto;
	margin: 0 0 auto 0;
	padding: 1px 2px;
	display: flex;
	flex: 1 1 0;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
	font-family: Verdana, Tahoma, Helvetica, sans-serif; */
	/* font-size: 10px; */ /* X */
	/* font-size: 0.6em;
	text-indent: 0;
	overflow: hidden;
} */
.nav-links {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 0 auto 0;
	padding: 1px;
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	/* font-size: 10px; */
	font-size: 0.6em;
	text-indent: 0.5em;
	overflow: hidden;
}
/* - перенос слов
(?) не видно, чтобы работало */
/* .sync-toc-on,
.sync-toc-off,
.nav-links {
	word-spacing: initial;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	line-break: auto;
	hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
} */
/* (?) 'было бы еще лучше, если бы можно было сделать условие, например в @media, типа: ".nav-links p:hover span a:hover" для изменения правила класса .nav-links p:hover */
/* X .nav-links p:hover :nth-child(3), *//* - 3-й span выделяет косую черту */
.nav-links p:hover :last-child,
.nav-links p:hover :nth-child(2),
.nav-links p:hover span a {color: #fff;}
/* (!).auto-toc-оглавление на странице */
/* вариант 1 */
/* .auto-toc {
	position: absolute;
	right: 4px; top: 4px; */
	/* display: none; */ /* X */
/* } */
/* вариант 2 */
/* .auto-toc { */
	/* order: 1; */ /* X */
	/* position: relative;
	width: 52px;
	height: auto;
	display: flex;
	flex: 0 0 auto;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center; */
	/* display: none; */ /* X */
/* } */
.auto-toc {
	position: relative;
	width: 52px;
	height: auto;
	margin: 1px;
	padding: 2px;
	float: right;
	vertical-align: middle;
	font-family: Tahoma, Verdana;
	font-size: 9px;
	font-weight: normal;
	text-align: center;
	text-indent: 0;
	line-height: 90%;/* (i) влияет на появление скролинга */
	color: #999;
	border: 1px solid transparent;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.auto-toc:hover {border-color: #fff;}
/* (i).btn-icon-имя класса так же присутствует в стилях styles.css и navigation.css, но правила разные */
.btn-icon {padding: 1px 1px 0 2px;}
.btn-icon:hover {
	border-color: #777;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	/* background-color: #abdef7; */
	background-color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999));
	background: -moz-linear-gradient(top, #ffffff, #999);
	/* background: -o-linear-gradient(top, rgb(255, 255, 255), rgb(171, 222, 247)); */
	background: -o-linear-gradient(top, rgb(255, 255, 255), rgb(153, 153, 153));
	background: -ms-linear-gradient(top, #ffffff, #999);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#999);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#abdef7)";
	cursor: pointer;
}
.btn-text {user-select: none;}
.btn-text:hover {color: #fff;}
/* ! Link to display entire user interface when topic is opened on its own
- Ссылка для отображения всего пользовательского интерфейса при самостоятельном открытии темы
*данный класс прописан так же в linkstyles.css */
.sync-toc-on,
.sync-toc-off,
.sync-toc {
	font-weight: bold;
}
.sync-toc {display: none;}

.sync-toc-on a,
.sync-toc-off a,
.sync-toc a {
	text-decoration: none;
}
.sync-toc-on a:hover,
.sync-toc-off a:hover,
.sync-toc a:hover {
	border-bottom: 1px dotted #fff;
}
/* (!).title-наименование темы топика */
/* .title {
	position: relative;
	width: auto; */
	/* min-height: 18px; *//* X */
	/* height: auto;
	margin: 1px;
	padding: 1px 0 0 2px; */ /* 'если скролинг отражен с противоположной строны */
	/* flex: 1 1 auto; */
	/* font-size: 18px; *//* X */
	/* font-size: 1.1em;
	font-weight: bold;
	text-indent: 0.5em; */
	/* line-height: 100%; *//* (i) влияет на появление скролинга *//* X */
	/* scroll-behavior: smooth; */ /* плавная прокрутка */
	/* overflow: hidden auto;
} */
.title {
	order: 2;
	position: relative;
	width: 100%;
	/* min-height: 18px; */
	height: auto;
	padding: 0 2px; /* 'если скролинг отражен с противоположной строны */
	display: flex;
	flex: 1 1 100%;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;
	/* font-size: 18px; */
	font-size: 1.1em;
	font-weight: bold;
	text-indent: 0.5em;
	/* line-height: 100%; *//* (i) влияет на появление скролинга */
	scroll-behavior: smooth; /* плавная прокрутка */
	overflow: hidden auto;
}
.title:hover {color: #fff;}
/* ! Comment Links
- Комментарии
(!).links-comment */
div#commentsWrapper {display: none;}
.links-comment {
	position: absolute;
	left: 0; right: 0; top: 70px;
	padding: 2px 4px 2px 4px;
	display: none;
}
/* (!).msg-box - всплывающее окно сообщения */
.msg-box {
	position: relative;
	width: auto;
	height: auto;
	display: flex;
	flex: 1 1 auto;
	flex-flow: column wrap;
	justify-content: space-between;
	font-family: "Times New Roman", Times, sans-serif;
	/* font-size: 18px; */
	font-size: 1.1em;
	text-indent: 0;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
	z-index: 100;
}
.msg-content {
	position: relative;
	width: auto;
	height: auto;
	display: flex;
	flex: 1 1 100%;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	cursor: default;
}
.msg-content {
	/* border: 1px solid silver; */
	border: 1px solid #3f3f3f;
	background-color: lightyellow;
}

.msg-info {
	position: relative;
	width: 30px;
	height: 30px;
	margin: 1px;
	display: flex;
	flex: 0 0 auto;
	flex-flow: row nowrap;
	background: url(../icon/info.png) no-repeat;
	background-size: 100% 100%;
}
.msg-text {
	position: relative;
	width: auto;
	height: auto;
	margin: 1px;
	padding: 2px;
	display: flex;
	flex: 1 1 auto; /* - auto - при малой ширине окна браузера .msg-info будет переноситься отдельной строкой */
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	color: #f00;
	overflow: hidden auto;
}
.msg-btn {
	position: relative;
	width: 8px;
	height: 8px;
	margin: auto;
	padding: 2px;
	display: flex;
	flex: 0 0 auto;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: center;
	cursor: pointer;
}
/* TODO: сделать анимацию */
.msg-show {
	color: blue;
	transform: rotate(90deg) scale(1, 1);
	-webkit-transform: rotate(90deg) scale(1, 1);
	-moz-transform: rotate(90deg) scale(1, 1);
	-o-transform: rotate(90deg) scale(1, 1);
	-ms-transform: rotate(90deg) scale(1, 1);
	/* will-change: transform; */ /* (i) - св-во will-change - экспериментальная технология, заранее передает браузеру инфу о возможном предстоящем изменении элемента */
}
.msg-hide {
	color: red;
	transform: rotate(90deg) scale(-1, 1);
	-webkit-transform: rotate(90deg) scale(-1, 1);
	-moz-transform: rotate(90deg) scale(-1, 1);
	-o-transform: rotate(90deg) scale(-1, 1);
	-ms-transform: rotate(90deg) scale(-1, 1);
	/* will-change: transform; */ /* (i) - св-во will-change - экспериментальная технология, заранее передает браузеру инфу о возможном предстоящем изменении элемента */
}
/* (!).topic-content */
.topic-content {
	position: absolute;
	left: 0; right: 0;
	top: 65px; bottom: 52px;
	overflow: hidden auto;
	z-index: 99;
}
/* ! Search hightlight color
- Цвет выделения при поиске */
span.highlight {background-color: #ffff40;}
/* ! Topic Content Text
- Текст Содержания темы
(!).content-text */
.content-text {
	position: absolute;
	left: 0; right: 0; top: 0;
	margin: 2px;
	padding: 1px;
}
/* (!).headings
- заголовки */
.heading9,
.heading8,
.heading7,
.heading6,
.heading5,
.heading4,
.heading3,
.heading2,
.heading1 {
	text-indent: 0;
	text-align: center;
}
/* (!) Встроенный скрытый контент
- иконка в абзаце */
.toggle-icon {
	width: auto;
	height: auto;
	border: none;
	cursor: pointer;
}
.toggle-shown,
.toggle-hidden {/* (i) для js */}

.toggle-content {
	position: relative;
	margin: 2px;
	/* font-size: 16px; */
	font-size: 1em;
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-style: normal;
	font-weight: normal;
	text-indent: 0;
	color: #000;
}
.img-slider,
.img-text,
.lightbox-img,
.lightbox,
.toggle-content {overflow: hidden;}

.toggle-bg-light {
	background-color: rgba(73, 73, 73, 0.5);
	/* background-color: rgb(73, 73, 73); */
	/* opacity: 0.5; */
}
.toggle-bg-default {background-color: transparent;}
.toggle-bg-yellow {background-color: #ffff99;}
.toggle-bg-blue {background-color: #ccffff;}
.toggle-bg-green {background-color: lightgreen;}
.toggle-bg-peach {background-color: #ffcc99;}

.lightbox {
	position: relative;
	left: 0; top: 0;
	width: auto;
	height: 679px; /* высота будет вычисляться кодом js и будет = idTopicContent.clientHeight - видимая часть контента на стр. */
	margin: auto;
	padding: 4px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: space-between;
	justify-content: center;
/*
(i) вариант выравнивания по центру, если display: block;
*/
	/* left: 50%; *//* top: 50%; */
	/* transform: translate(-50%, -50%); */
}
/* одиночное изо */
.single-img {
	/* height: auto; */
	align-content: center;
}

.toggle-collapse {display: none;} /* скрыть/отобразить lightbox */

.img-slider,
.slider-track,
.img-text,
.lightbox-img {
	position: relative;
	left: 0; top: 0;
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.lightbox-img {
	height: 70%; /* высота будет вычисляться кодом js */
	flex: 1 1 100%;
	flex-flow: row wrap;
	-ms-flex-flow: row wrap; /* IE */
}

.zoomer {
	position: absolute;
	left: 4px; top: 4px;
	width: auto;
	height: auto;
	margin: 6px;
	padding: 6px;
	border: none;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #000;
	cursor: pointer;
}

.btn-slider,
.btn-box,
.zoomer {z-index: 1;}

.zoom-out,
.zoom-in {
	width: 50px;
	height: 50px;
	display: block;
}
.btn-slider a:hover,
.btn-box a:hover,
.zoom-out:hover,
.zoom-in:hover {transform: scale(1.3);}

.img-viewer {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 6px;
	box-sizing: border-box; /* позволяет изменить алгоритм для расчета ширины и высоты, чтобы свойства width и height задавали размеры не контента, а размеры блока, margin, padding, border учитываться не будут */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	-ms-flex-flow: row wrap; /* IE */
	align-items: center;
	border: 1px solid #000;
	/* outline: 1px solid white; */ /* без влияния на размерность */
	box-shadow: 5px 5px 5px #888;
	overflow: auto;
}

.img-item {
	max-width: 300px;
	margin: auto;
	display: block;
	cursor: zoom-in;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	animation: 2s forwards;
/*
(i)*св-во will-change - экспериментальная технология, заранее передает браузеру инфу о возможном предстоящем изменении элемента
*/
	will-change: animation;
}
/*
(!) css правило img-zoom100 для lightbox в гл.окне работает противоположно правилу img-zoom100 для lightbox в теме топика
*/
.img-zoom100 {
	max-width: 100%;
	cursor: zoom-out;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}

.btn-box {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	display: flex;
}
.btn-slider,
.btn-box {
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.btn-slider a:hover,
.btn-slider a,
.slider-item:hover,
.slider-item,
.zoom-out,
.zoom-in,
.btn-box a:hover,
.btn-box a, /* .lightbox-btn-close, .img-btn-next, .img-btn-prev, */
.btn-box:hover,
.btn-box {
	cursor: pointer;
	transition: 0.6s ease; /**плавное появление/исчезновение при наведении курсора */
	-webkit-transition: .6s ease; /* Chrome, Safari, iOS */
	-moz-transition: .6s ease; /* Firefox */
	-o-transition: .6s ease; /* Opera */
	/* will-change: transition; */ /* (i) - св-во will-change - экспериментальная технология, заранее передает браузеру инфу о возможном предстоящем изменении элемента */
}

.btn-slider a,
.btn-box a {
	width: 100%;
	border-radius: 100px;
	border-color: transparent;
	line-height: 50px; /* - выравниваем "стрелки" (кнопки перехода) по высоте */
	text-decoration: none;
}
.lightbox-btn-close,
.btn-slider a,
.btn-box a {color: #fff;}
.btn-slider a:hover,
.btn-box a:hover {
	/* outline: 1px solid #000; */ /* без влияния на размерность */
	border: 1px solid #000;
	/* background-color: rgba(0,0,0,0.4); */
	/* text-shadow: none; */
}

.lightbox-btn-close {
	right: 20px; top: 10px;
	width: auto;
	height: auto;
	margin: 6px;
	padding: 6px;
	line-height: 1;
	border: none;
	outline: none;
	background: transparent;
	text-shadow: 4px 0 #000, 0.4px 0 #000, -0.4px 0 #000, -0.4px 0 #000; /* - буквенная обводка */
}
.lightbox-btn-close:hover,
.lightbox-btn-close {
	transition: 0.3s ease; /**плавное появление/исчезновение при наведении курсора */
	-webkit-transition: .3s ease; /* Chrome, Safari, iOS */
	-moz-transition: .3s ease; /* Firefox */
	-o-transition: .3s ease; /* Opera */
	/* will-change: transition; */ /* (i) - св-во will-change - экспериментальная технология, заранее передает браузеру инфу о возможном предстоящем изменении элемента */
}
.lightbox-btn-close:hover {
	transform: rotate(180deg) scale(1.6, 1.6);
	-webkit-transform: rotate(180deg) scale(1.6, 1.6); /* Chrome, Safari, iOS */
	-moz-transform: rotate(180deg) scale(1.6, 1.6); /* Firefox */
	-o-transform: rotate(180deg) scale(1.6, 1.6); /* Opera */
	-ms-transform: rotate(180deg) scale(1.6, 1.6); /* IE */
	/* will-change: transform; */ /* (i) - св-во will-change - экспериментальная технология, заранее передает браузеру инфу о возможном предстоящем изменении элемента */
	text-shadow: -4px 0 #000, .4px 0 #000, 0 .4px #000, 0 -.4px #000; /* - буквенная обводка */
}

.img-btn-prev {
	left: 0;
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
}
.slider-btn-prev a,
.img-btn-prev a {
	/* padding: 0 6px 0 0; */ /* x */
	text-shadow: -2px 0px #000,
				1px 2px #000,
				-1px 2px #000,
				-1px -2px #000,
				4px 2px #000,
				4px -2px #000; /* - буквенная обводка */
}

.img-btn-next {
	right: 0;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
}

.slider-btn-next a,
.img-btn-next a {
	/* padding: 0 0 0 6px; */ /* x */
	text-shadow: 2px 0px #000,
				1px 2px #000,
				-1px 2px #000,
				1px -2px #000,
				-4px 2px #000,
				-4px -2px #000; /* - буквенная обводка */
}

.video-text,
.img-text {
	width: auto;
	height: auto;
	margin: 6px;
	flex: 1 1 100%;
	flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	font-weight: bold;
	text-align: center;
	cursor: default;
}

.slider-track,
.img-slider {flex: 1 1 100%;}

.img-slider {
	margin: 6px;
	flex-flow: row nowrap;
	-ms-flex-flow: row nowrap; /* IE */
}

.slider-track {
	margin: 2px;
	padding: 4px;
	flex-flow: row wrap;
	-ms-flex-flow: row wrap; /* IE */
}
.slider-track {
	/* box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
				-23px 0 20px -23px rgba(0, 0, 0, .8),
				23px 0 20px -23px rgba(0, 0, 0, .8),
				0 0 40px rgba(0, 0, 0, .1) inset; */
	/* background: radial-gradient(circle, rgba(0,0,0,0), #666); */
	/* filter: brightness(0.5); */
	box-shadow: 20px 0 20px -20px #000 inset,
				-20px 0 20px -20px #000 inset;
}

.slider-item,
.btn-slider {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 4px;
	padding: 4px;
	display: flex;
	flex: 0 0 auto;
	flex-flow: row nowrap;
	-ms-flex-flow: row nowrap; /* IE */
	align-items: center;
	justify-content: center;
}

.slider-btn-prev,
.slider-btn-next {flex: 0 0 auto;}

.slider-item {
	/* outline: 1px dotted #000; */ /* без влияния на размерность */
	border: 1px dotted #000;
}
.lightbox-img,
.img-viewer,
.slider-item {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.slider-item img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: contain; /* вписываем в область */
	-o-object-fit: contain; /* Opera */
	cursor: pointer;
}
.slider-item:hover {
	border-style: solid;
	transform: scale(1.2);
}

.slider-current {border-color: red;}
/*
(!).lightbox-video
*/
.lightbox-video {
	position: relative;
	width: 320px;
	height: auto;
	margin: 0 auto;
	aspect-ratio: 16 / 9; /* padding: 0 0 50% 0; *//* - формат изображения */
	text-align: center;
	border: 1px solid #3f3f3f;
	overflow: hidden;
}
.lightbox-video video,
.lightbox-video iframe {
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
/**чтобы вписывалось независимо от размеров, работает с тегом video для локального видео, в случае с фреймом для видео с ютуба не катит */
.lightbox-video video {
	object-fit: cover; /* вписываем в область */
	-o-object-fit: cover; /* Opera */
}
/* ! Topic Content Footer. The footer defined in the topic content
- Нижний колонтитул, определенный в контенте топика
(!).content-footer */
.content-footer {
	left: 0; right: 0;
	/* bottom: 0; */
	padding: 5px 0 5px 0;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: silver;
}
.content-footer p {
	padding: 0 0 5px 0;
	/* font-family: Verdana, sans-serif; */
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	/* font-size: 9pt; */
	font-size: 0.7em;
	/* color: #737373; */
	text-align: center;
	text-indent: 0px;
}
.content-footer a {
	color: #737373;
	border-bottom: 1px dotted #666;
	text-decoration: none;
}
.content-footer a:visited {color: #737373;}
.content-footer a:hover {
	text-decoration: underline;
	color: blue;
	border-color: #262626;
	text-decoration: none;
}
/* ! Topic Footer. Not to be confused with the footer in the topic content
- Нижний колонтитул топика. Не путать с нижним колонтитулом в контенте топика
(!).topic-footer */
.topic-footer {
	position: absolute;
	left: 0; right: 0; bottom: 0;
	height: auto;
	padding: 4px 0 8px 0;
	display: flex;
	flex: 1 1 auto;
	flex-flow: row nowrap; /* - сокращенная запись свойств flex-direction и flex-wrap, которые вместе определяют основные и поперечные оси flex-контейнера. Применяется к родительскому элементу flex-контейнера. */
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 0.7em;
	text-indent: 0px; /* - отступ первой строки */
	border-top: 1px solid silver;
	overflow: hidden;
	/* z-index: 100; */
}
.topic-footer {
	background: -webkit-linear-gradient(top, rgba(0,0,0, 0.96) 85%,rgba(136,136,136));
	background: -moz-linear-gradient(top, rgba(0,0,0, 0.96) 85%,rgba(136,136,136));
	background: -o-linear-gradient(top, rgba(0,0,0, 0.96) 85%,rgba(136,136,136));
	background: -ms-linear-gradient(top, rgba(0,0,0, 0.96) 85%,rgba(136,136,136));
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #000000, endColorstr = #999999);
	-ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #000000, endColorstr = #999999);
}

.topic-footer-left,
.topic-footer-center,
.topic-footer-right {
	padding: 0 4px;
	flex: 1 1 auto;
	align-items: center; /* - Выравнивание флекс-элементов внутри контейнера в перпендикулярном направлении. */
	align-content: center; /**либо align-items: center. Выравнивает линии в пределах flex-контейнера, когда есть дополнительное пространство на поперечной оси. Не действует, когда есть только одна строка flex-элементов. */

	display: flex;
	flex-flow: row nowrap;
}

.topic-footer-left {
	text-align: left;
	justify-content: flex-start; /* - после применения размеров и отступов пространство вокруг флекс-элементов вдоль главной оси контейнера */
}

.topic-footer-center {
	text-align: center;
	justify-content: center; /* - после применения размеров и отступов пространство вокруг флекс-элементов вдоль главной оси контейнера */
}

.topic-footer-right {
	text-align: right;
	justify-content: flex-end; /* - после применения размеров и отступов пространство вокруг флекс-элементов вдоль главной оси контейнера */
}

.topic-footer a
.topic-footer p>a,
.topic-footer p {
	margin-block: auto;
	color: #737373;
}
.topic-footer p {cursor: default;}
.topic-footer a:hover,
.topic-footer p>a:hover,
.topic-footer p:hover {color: #fff;}
/* ! root element for tabs
- Корневой элемент для вкладок
(!) ul.tabs - это дубликат текущей вкладки, единственная и она же текущая вкладка тема топика, по умолчанию скрытая, но отображается, когда вкладка запускается в отдельном окне браузера по кнопке Открепить на пан.инструментов */
ul.tabs {display: none;}
/* ! Sortable Tables
- Сортируемые Таблицы
 X ? скорее всего это не понадобится
(!) table */
table a.sortheader img {
	border: 0;
	outline: none;
}
a.sortheader {
	color: black;
	text-decoration: none;
	white-space: nowrap;
}
a.sortheader:visited {
	color: black;
	text-decoration: none;
}
a.sortheader:hover {
	color: black;
	text-decoration: none;
}
a.sortheader {outline: none;}
/* ! Components of the Topic AutoTOC Window. These are the dead defaults. A number of settings will be reset by the script
-Компоненты автоматического окна темы. Это мертвые дефолты. Ряд настроек будет сброшен сценарием
(!).topic-menu - это меню для оглавления контент текста в текущей теме топика
HACK: во всех топиках переделать имя св-ва id = idAutoTocWrapper на idTopicMenu */
.topic-menu {
	/* display: none; *//* (i) временно закоментировано */
	position: absolute;
	width: auto;
	top: 35px; right: 25px;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: silver;
	background-color: #999999;
	box-shadow: 2px 2px 10px silver;
	-webkit-box-shadow: 2px 2px 10px silver;
	-moz-box-shadow: 2px 2px 10px silver;
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	z-index: 1000;
}

#autoTocMiddle,
#autoTocInner {
	padding: 0;
	margin: 0;
}

p.autoTOC {
	color: #333;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 100%;
}

.topic-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

.topic-menu ul li {
	padding: 3px;
	cursor: pointer;
	border-bottom: 1px solid silver;
	background-color: #f6f6f6;
}

div#idUnclicker {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background: transparent;
	background-image: url("../icon/spacer.gif"); /* (?) не понятно для чего */
	z-index: 998;
}

img.menuicon {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	margin-top: -1px;
}

div#nojsheadercontents {
	margin-top: -10px;
	padding-bottom: 12px;
	/* display: none; */
}
/* ! Intense Debate and Disqus comments
- Интенсивное обсуждение и комментарии, вызывающие беспокойство
(!).comments */
.comment-link1 {
	text-align: right;
	margin: 0 auto;
}
.comment-link2 {
	text-align: right;
	margin: 5px 0;
}

.comments {color: red;}

div#commentsWrapper {
	position: fixed;
	display: block;
	visibility: hidden; /* 'Must have full size on start, otherwise Disqus won't initialize in Internet Explorer
	(i) - При запуске должен быть полный размер, иначе Disqus не будет инициализироваться в Internet Explorer */
	top: 5px;
	right: 40px;
	bottom: 20px;
	left: 20px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888;
	z-index: 10000;
}

div#commentsBox {
	overflow-x: auto;
	overflow-y: scroll;
	position: absolute;
	padding: 5px 15px 5px 10px;
	top: 2px;
	left: 0px;
	right: 1px;
	bottom: 2px;
}

img#closeCmtButton {
	position: absolute;
	top: 0px;
	right: -38px;
	cursor: pointer;
	z-index: 10000;
}
button#livePrintButton {
	cursor: pointer;
	font-weight: bold;
}
img#livePrintIcon {
	border: 0;
	margin-bottom: -3px;
}
/* ! Styles for social sharing bar
- Стили для панели социального обмена
(!) div#hmsocialmedia */
div#xunclicker {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("../icon/spacer.gif"); /* (?) не понятно для чего */
	z-index: 998;
}

div#hmsocialmedia {
	position: absolute;
	visibility: hidden;
	z-index: 10000;
	top: 5px;
	width: auto;
	margin: 0;
	height: 30px;
	left: 25px;
	padding: 5px;
	background-color: #f9f9f9;
	border: 2px solid silver;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #888888;
}

ul.social-buttons {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.social-buttons li {
	display: inline;
	float: right;
	padding: 5px;
}
/* (?) G+1 can't be hidden without this
- G+1 не может быть скрыт без этого
(!).googleplusone-button */
div.googleplusone-button iframe {display: none;}
/* ! Twitter button width hack and frame hide
- Ширина кнопки Twitter взломать и скрыть рамку
(!).twitter-button */
div.twitter-button iframe {
	width: 80px !important;
	display: none;
}

div#mailthisbutton {
	background-color: #ededed;
	height: 18px;
	width: 76px;
	border-radius: 4px;
	margin: 0px;
	padding: 0px 3px 2px 2px;
	border: 1px solid silver;
	background-image: linear-gradient(bottom, #d4d4d2 7%, #edf0f0 54%);
	background-image: -webkit-linear-gradient(bottom, #d4d4d2 7%, #edf0f0 54%);
	background-image: -moz-linear-gradient(bottom, #d4d4d2 7%, #edf0f0 54%);
	background-image: -o-linear-gradient(bottom, #d4d4d2 7%, #edf0f0 54%);
	background-image: -ms-linear-gradient(bottom, #d4d4d2 7%, #edf0f0 54%);
}

a.sbutton {
	display: inline-block;
	color: #666;
	text-decoration: none;
	height: 20px;
	background-image: url(mailshare.png);
	background-repeat: no-repeat;
	background-position: 3px 0px;
	overflow: visible;
	padding-top: 2px;
}
a:hover.sbutton {color: #000;}

span#sbuttontext {
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	margin-left: 25px;
	font-weight: bold;
	font-size: 11px;
}
/* ! Styles for what goes to the printer
- Стили для того, что отправляется на принтер
(!) @media print */
@media print {
	.nav-links,
	.auto-toc,
	div#menuIcon,
	.content-footer {display: none; /* !important; */}

	html, body {overflow: hidden; /* !important; */}

	.topic-header,
	.topic-content {
		position: static; /* !important; */
		overflow: hidden; /* !important; */
		height: auto; /* !important; */
		border-width: 0px; /* !important; */
	}

	img.menuicon {display: none; /* !important; */}

	button#livePrintButton {display: none; /* !important; */}
}

@media screen and (max-width: 200px) {
	.msg-content {flex-wrap: wrap;}
}