/* 'General Background */
/*
(i) Символ «*» - универсальный селектор, совпадает с именем любого типа элемента. Соответствует любому отдельному элементу в дереве док.
*Унивесальный селектор имеет нулевой приоритет (ниже только отсутствие приоритета вовсе).
*/
* {margin: 0; padding: 0;} /* - перебить CSS свойства, которые браузеры устанавливают по умолчанию для некоторых тегов, например, тегу гиперссылки <a> синий цвет текста и подчёркивание, тегу body они задают поля (padding) и тд.и т.п. */
body, html {
	background-color: #fff;
	overflow: hidden;
	text-indent: 1.5em; /* - отступ первой строки */
}
html {
	overflow: auto;
	scroll-behavior: smooth; /* плавная прокрутка */
}
/* (!) Scrollbars */
*,
html * /* - если нужен общий стиль, его следует применять к тегу html, а не к body */
{
	scrollbar-width: thin;
	scrollbar-color: gray #3f3f3f;
}
*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	/* top: 0; *//* bottom: 0; *//* 'работать не будет-для всех браузеров высота scrollbara = высоте его элемента */
	width: 10px;
	height: 10px;
}
/**Варианты по умолчанию для элементов на странице */
/* 'вариант-1 */
/* *::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: #3f3f3f;
	border-radius: 100px;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background-color: silver;
	border: 1px solid #3f3f3f;
	border-radius: 100px;
} */
/* 'вариант-2 */
/* *::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	border: 1px solid #3f3f3f;
	border-radius: 100px;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	border: 5px solid #3f3f3f;
	border-radius: 100px;
} */
/* 'вариант-3 */
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: #3f3f3f;
	border: 4px solid #fff;
	border-radius: 100px;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	border: 4px solid #3f3f3f;
	border-radius: 100px;
}
/* 'вариант-4 */
/* *::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	border: 4px solid #3f3f3f;
	border-radius: 100px;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background: #3f3f3f;
	border: 4px solid #fff;
	border-radius: 100px;
} */
.topic-title-scrolling::-webkit-scrollbar {width: 2px;}
.topic-title-scrolling::-webkit-scrollbar-track {
	border: 1px solid gray;
	border-radius: 10px;
}
.topic-title-scrolling::-webkit-scrollbar-thumb {
	background-color: gray;
	/* border: 2px solid #3f3f3f; */
	border: 4px solid maroon;
	border-radius: 10px;
}
/* Scrollbars the end */
p {
	direction: ltr; /* ? влияет на кавычки елочки для текстовых элементов, поэтому данное св-во необходимо так же применить к элементу "р", чтобы вернуть обратно направление чтения по умолчанию (с лева на право). Применяется непосредственно к текущему элементу, применение к псевдоэлементу работать не будет. */
}

.topic-header {
	position: absolute;
	left: 0; right: 0; top: 0;
	/* width: 100%; */
	height: 69px;
	/* padding: 5px 0 5px 0; */
	/* background-color: #fff; */
	background-image: url("../image/bg-top.png");
	background-size: 100% 100%;
	border-bottom: 1px solid silver;
	z-index: 100;
}
.topic-header:hover {cursor: default;}

.header-content {
	min-width: 300px;
	height: 100%;
	margin: 0 60px 0 1px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-around;
	color: #737373;
}
.header-content p:hover,
.header-content span:hover,
.header-content a:hover {color: #fff;}

/* ! Breadcrumb trail
- След из хлебных крошек */
.bread-crumbs {
	width: 100%;
	margin: 4px 1px 1px 1px;
	/* padding: 0 0 1px 2px; */
	flex: 1 1 auto;
	font-family: Verdana, Tahoma, Helvetica, Sans-Serif;
	/* font-size: 10px; */
	font-size: 0.6em;
	text-indent: 0.5em;
	/* color: #737373; */
}
.bread-crumbs a {text-decoration: none;}
.bread-crumbs a:visited {color: #737373; text-decoration: none;}
.bread-crumbs a:hover {color: #fff; border-bottom: 1px dotted #fff;}
/* ! Link to display entire user interface when topic is opened on its own
- Ссылка для отображения всего пользовательского интерфейса при самостоятельном открытии темы */
.sync-toc {display: none;}
.sync-toc,
.sync-toc-off,
.sync-toc-on {font-weight: bold;}

.title {
	width: 100%;
	min-height: 18px;
	margin: 1px;
	padding: 0 0 0 2px;
	flex: 1 1 auto;
	/* font-size: 18px; */
	font-size: 1.1em;
	font-weight: bold;
	text-indent: 0.5em;
	line-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth; /* плавная прокрутка */
	direction: rtl; /* ? влияет на кавычки елочки для текстовых элементов, поэтому данное св-во необходимо так же применить к элементу "р", чтобы вернуть обратно направление чтения по умолчанию (с лева на право). Применяется непосредственно к текущему элементу, применение к псевдоэлементу работать не будет. */
}
/* (!).topic-content-Контент-текст */
.topic-content {
	position: absolute;
	left: 0; right: 0;
	top: 70px; bottom: 70px;
	overflow: auto;
	z-index: 99;
}
/* ! Comment Links
- Комментарии
(!).links-comment */
.links-comment {
	position: absolute;
	left: 0; right: 0; top: 0;
	padding: 2px 4px 2px 4px;
}
/* ! Search hightlight color
- Цвет выделения при поиске */
span.highlight {background-color: #ffff40;}

div#commentsWrapper {
	display: none;
	visibility: visible;
}
/* ! Topic Content Text
- Текст Содержания темы
(!).content-text */
.content-text {
	position: absolute;
	left: 0; right: 0; top: 22px;
	margin: 2px;
	padding: 1px;
	/* border-width: 1px 0 1px 0; */
	/* border-style: solid; */
	/* border-color: silver; */
	border-top: 1px solid silver;
	/* border-bottom: 1px solid silver; */
}
/* ! Topic Content Footer. The footer defined in the topic content
- Нижний колонтитул, определенный в контенте топика
(!).content-footer */
.content-footer {
	left: 0; right: 0;
	/* bottom: 0; */
	padding: 5px 0 5px 0;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: silver;
}
.content-footer p {
	padding: 0 0 5px 0;
	/* font-family: Verdana, sans-serif; */
	font-family: Verdana, Tahoma, Helvetica, Sans-Serif;
	/* font-size: 9pt; */
	font-size: 0.7em;
	/* color: #737373; */
	text-align: center;
	text-indent: 0px;
}
.content-footer a {
	color: #737373;
	border-bottom: 1px dotted #666;
	text-decoration: none;
}
.content-footer a:visited {color: #737373;}
.content-footer a:hover {
	text-decoration: underline;
	color: blue;
	border-color: #262626;
	text-decoration: none;
}
/* ! Topic Footer. Not to be confused with the footer in the topic content
- Нижний колонтитул топика. Не путать с нижним колонтитулом в контенте топика
(!).topic-footer */
.topic-footer {
	position: absolute;
	left: 0; right: 0; bottom: 0;
	height: 69px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row nowrap; /* - сокращенная запись свойств flex-direction и flex-wrap, которые вместе определяют основные и поперечные оси flex-контейнера. Применяется к родительскому элементу flex-контейнера. */
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: transparent;
	background-image: url("../image/bg-bottom.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: #fff;
	font-family: Verdana, Tahoma, Helvetica, Sans-Serif;
	font-size: 0.7em;
	text-indent: 0px; /* - отступ первой строки */
	border-top: 1px solid silver;
	/* x z-index: 100; */
}

.topic-footer-left,
.topic-footer-center,
.topic-footer-right {
	margin: 0;
	padding: 0 4px;
	flex: 1 1 auto;
	align-items: center; /* - Выравнивание флекс-элементов внутри контейнера в перпендикулярном направлении. */
	align-content: center; /**либо align-items: center. Выравнивает линии в пределах flex-контейнера, когда есть дополнительное пространство на поперечной оси. Не действует, когда есть только одна строка flex-элементов. */

	display: flex;
	flex-flow: row nowrap;
}

.topic-footer-left {
	text-align: left;
	justify-content: flex-start; /* - после применения размеров и отступов пространство вокруг флекс-элементов вдоль главной оси контейнера */
}

.topic-footer-center {
	text-align: center;
	justify-content: center; /* - после применения размеров и отступов пространство вокруг флекс-элементов вдоль главной оси контейнера */
}

.topic-footer-right {
	text-align: right;
	justify-content: flex-end; /* - после применения размеров и отступов пространство вокруг флекс-элементов вдоль главной оси контейнера */
}

.topic-footer p, a {
	margin-block: auto;
	color: #737373;
}

.topic-footer a:hover,
.topic-footer p:hover {color: #fff;}

.topic-footer p:hover {cursor: default;}
/* ! root element for tabs
- Корневой элемент для вкладок
(?) не понятно что за корневой элемент и какова его функция
(!) ul.tabs */
ul.tabs {/* display: none; */}
/* ! Sortable Tables
- Сортируемые Таблицы
 X ? скорее всего это не понадобится
(!) table */
table a.sortheader img {
	border: 0;
	outline: none;
}
a.sortheader {
	color: black;
	text-decoration: none;
	white-space: nowrap;
}
a.sortheader:visited {
	color: black;
	text-decoration: none;
}
a.sortheader:hover {
	color: black;
	text-decoration: none;
}
a.sortheader {outline: none;}
/* ! Components of the Topic AutoTOC Window. These are the dead defaults. A number of settings will be reset by the script
-Компоненты автоматического окна темы. Это мертвые дефолты. Ряд настроек будет сброшен сценарием
(!).topic-menu */
.topic-menu {
	/* display: none; *//* (i) временно закоментировано */
	z-index: 1000;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: silver;
	width: auto;
	position: absolute;
	top: 35px;
	right: 25px;
	background-color: #999999;
	-moz-box-shadow: 2px 2px 10px silver;
	-webkit-box-shadow: 2px 2px 10px silver;
	box-shadow: 2px 2px 10px silver;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}

#autoTocMiddle,
#autoTocInner {
	padding: 0;
	margin: 0;
}

p.autoTOC {
	color: #333;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 100%;
}

.topic-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

.topic-menu ul li {
	padding: 3px;
	cursor: pointer;
	border-bottom: 1px solid silver;
	background-color: #f6f6f6;
}
.nav-divs {
	position: absolute;
	right: 4px; top: 4px;
	/* display: none; */
}
.nav-divs,
.nav-divs span {
	font-family: Tahoma, Verdana;
	font-size: 9px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	text-indent: 0;
	line-height: 90%;
	color: #999;
}
.nav-divs,
.nav-divs span,
.nav-icon {/* z-index: 999; */}

.nav-divs span:hover {color: #fff;}

div#idUnclicker {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background: transparent;
	background-image: url("../image/spacer.gif"); /* (?) не понятно для чего */
	z-index: 998;
}

img.menuicon {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	margin-top: -1px;
}

div#nojsheadercontents {
	margin-top: -10px;
	padding-bottom: 12px;
	/* display: none; */
}

.nav-icon {
	margin: 0;
	padding: 1px 1px 0 2px;
	border-radius: 5px;
	border-color: transparent;
	border-width: 1px;
	border-style: solid;
}
.nav-icon-H {
	border-color: #777;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #abdef7;
	background: -moz-linear-gradient(top, #ffffff, #abdef7);
	background: -ms-linear-gradient(top, #ffffff, #abdef7);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#ffffff),
		to(#abdef7)
	);
	background: -o-linear-gradient(top, rgb(255, 255, 255), rgb(171, 222, 247));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#abdef7);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#abdef7)";
	cursor: pointer;
}
/* ! Intense Debate and Disqus comments
- Интенсивное обсуждение и комментарии, вызывающие беспокойство
(!).comments */
.comment-link1 {
	text-align: right;
	margin: 0 auto;
}
.comment-link2 {
	text-align: right;
	margin: 5px 0;
}

.comments {color: red;}

div#commentsWrapper {
	position: fixed;
	display: block;
	visibility: hidden; /* 'Must have full size on start, otherwise Disqus won't initialize in Internet Explorer
	(i) - При запуске должен быть полный размер, иначе Disqus не будет инициализироваться в Internet Explorer */
	top: 5px;
	right: 40px;
	bottom: 20px;
	left: 20px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888;
	z-index: 10000;
}

div#commentsBox {
	overflow-x: auto;
	overflow-y: scroll;
	position: absolute;
	padding: 5px 15px 5px 10px;
	top: 2px;
	left: 0px;
	right: 1px;
	bottom: 2px;
}

img#closeCmtButton {
	position: absolute;
	top: 0px;
	right: -38px;
	cursor: pointer;
	z-index: 10000;
}
button#livePrintButton {
	cursor: pointer;
	font-weight: bold;
}
img#livePrintIcon {
	border: 0;
	margin-bottom: -3px;
}
/* ! Styles for social sharing bar
- Стили для панели социального обмена
(!) div#hmsocialmedia */
div#xunclicker {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("../image/spacer.gif"); /* (?) не понятно для чего */
	z-index: 998;
}

div#hmsocialmedia {
	position: absolute;
	visibility: hidden;
	z-index: 10000;
	top: 5px;
	width: auto;
	margin: 0;
	height: 30px;
	left: 25px;
	padding: 5px;
	background-color: #f9f9f9;
	border: 2px solid silver;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #888888;
}

ul.social-buttons {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.social-buttons li {
	display: inline;
	float: right;
	padding: 5px;
}
/* (?) G+1 can't be hidden without this
- G+1 не может быть скрыт без этого
(!).googleplusone-button */
div.googleplusone-button iframe {display: none;}
/* ! Twitter button width hack and frame hide
- Ширина кнопки Twitter взломать и скрыть рамку
(!).twitter-button */
div.twitter-button iframe {
	width: 80px !important;
	display: none;
}

div#mailthisbutton {
	background-color: #ededed;
	height: 18px;
	width: 76px;
	border-radius: 4px;
	margin: 0px;
	padding: 0px 3px 2px 2px;
	border: 1px solid silver;
	background-image: linear-gradient(bottom, #d4d4d2 7%, #edf0f0 54%);
	background-image: -o-linear-gradient(bottom, #d4d4d2 7%, #edf0f0 54%);
	background-image: -moz-linear-gradient(bottom, #d4d4d2 7%, #edf0f0 54%);
	background-image: -webkit-linear-gradient(bottom, #d4d4d2 7%, #edf0f0 54%);
	background-image: -ms-linear-gradient(bottom, #d4d4d2 7%, #edf0f0 54%);
}

a.sbutton {
	display: inline-block;
	color: #666;
	text-decoration: none;
	height: 20px;
	background-image: url(mailshare.png);
	background-repeat: no-repeat;
	background-position: 3px 0px;
	overflow: visible;
	padding-top: 2px;
}
a:hover.sbutton {color: #000;}

span#sbuttontext {
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	margin-left: 25px;
	font-weight: bold;
	font-size: 11px;
}
/* ! Styles for what goes to the printer
- Стили для того, что отправляется на принтер
(!) @media print */
@media print {
	.bread-crumbs,
	.nav-divs,
	div#menuIcon,
	.content-footer {display: none; /* !important; */}

	html, body {overflow: hidden; /* !important; */}

	.topic-header,
	.topic-content {
		position: static; /* !important; */
		overflow: hidden; /* !important; */
		height: auto; /* !important; */
		border-width: 0px; /* !important; */
	}

	img.menuicon {display: none; /* !important; */}

	button#livePrintButton {display: none; /* !important; */}
}